@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* first-section */
.first-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.first-cont{
    width: 350px;
}

.first-img img {
    width: 100%;
}

.first-img {
    width: 400px;
}

/* second-section */

.second-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.second-cont{
    width: 450px;
}

.second-img img {
    width: 100%;
}

.second-img {
    width: 400px;
}


/* third-section */

.third-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.third-cont{
    width: 450px;
}

.third-img img {
    width: 100%;
}

.third-img {
    width: 400px;
}

/* forth-section */

.forth-sec{
   text-align: center;
   display: flex;
   justify-content: center;
}
.sec-heading{
    width: 350px;
}


/* fifth-section */

.fifth-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.fifth-cont{
    width: 450px;
}

.fifth-img img {
    width: 100%;
}

.fifth-img {
    width: 500px;
}


/* sixth-section */

.sixth-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sixth-cont{
    width: 350px;
}

.sixth-list ul {
    width: 100%;
}

.sixth-list {
    width: 400px;
}


/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-cont{
    width: 350px;
}

.footer-list ul {
    width: 100%;
}

.footer-list {
    width: 400px;
}


.footer-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-cont-two{
    width: 350px;
}

.footer-list-two ul {
    width: 100%;
}

.footer-list-two {
    width: 400px;
}